@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  overflow: hidden;
  background-color: transparent !important;
}

yt-live-chat-renderer,
yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted],
yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted],
yt-live-chat-author-chip #author-name {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted],
yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: #000c !important;
  border-radius: 8px;
}
yt-live-chat-text-message-renderer:not(:first-child),
yt-live-chat-legacy-paid-message-renderer:not(:first-child),
yt-live-chat-paid-message-renderer:not(:first-child) {
  margin-top: 8px !important;
  /* margin-top: 8px; */
}

yt-live-chat-renderer * {
  text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 18px !important;
  line-height: normal !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
  overflow: initial !important;
}
yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller{
  overflow: hidden !important;
}
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer #header {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer {
  width: fit-content !important;
}

yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  width: 24px !important;
  height: 24px !important;
  border-radius: 24px !important;
  margin-right: 6px !important;
}

yt-live-chat-text-message-renderer #author-badges {
  vertical-align: text-top !important;
}

yt-live-chat-text-message-renderer #timestamp {
  display: inline !important;
  color: #ccc !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: .9rem !important;
  line-height: 1 !important;
}

yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: #ffd600 !important;
}
yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #5e84f1 !important;
}
yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: #0f9d58 !important;
}
yt-live-chat-text-message-renderer #author-name {
  color: #ccc !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.6rem !important;
  line-height: 1 !important;
}

yt-live-chat-text-message-renderer #author-name::after {
  content: ":";
  margin-left: 2px;
}
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
}
yt-live-chat-text-message-renderer #message {
  display: block !important;
}

yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: #ccc !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-paid-message-renderer {
  margin: 4px 0 !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-legacy-paid-message-renderer {
  background-color: #0f9d58 !important;
  margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}
yt-live-chat-text-message-renderer[is-deleted] ,
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
  display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
}

yt-live-chat-moderation-message-renderer,
yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer,
yt-live-chat-banner-manager {
  display: none !important;
}

@keyframes notification {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  5% {
    opacity: 1;
    transform: translate(0, 0);
  }
  98% { 
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-30px, 0);
  }
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer {
  /* animation: notification 8s ease-in-out;
  animation-fill-mode: forwards; */
}

yt-live-chat-action-panel-renderer, 
yt-live-chat-renderer #action-panel,
yt-reaction-control-panel-overlay,
yt-reaction-control-panel-overlay-view-model,
yt-reaction-control-panel-view-model,
yt-live-chat-viewer-engagement-message-renderer {
  display: none !important;
}