@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  overflow: hidden;
  background-color: transparent !important;
}

yt-live-chat-renderer,
yt-live-chat-author-chip #author-name {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted],
yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted],
yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: #000c !important;
  border-radius: 8px;
}
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer {
  margin-top: 16px !important;
}

yt-live-chat-renderer * {
  text-shadow:
    -2px -2px #3333,
    -2px -1px #3333,
    -2px 0px #3333,
    -2px 1px #3333,
    -2px 2px #3333,
    -1px -2px #3333,
    -1px -1px #3333,
    -1px 0px #3333,
    -1px 1px #3333,
    -1px 2px #3333,
    0px -2px #3333,
    0px -1px #3333,
    0px 0px #3333,
    0px 1px #3333,
    0px 2px #3333,
    1px -2px #3333,
    1px -1px #3333,
    1px 0px #3333,
    1px 1px #3333,
    1px 2px #3333,
    2px -2px #3333,
    2px -1px #3333,
    2px 0px #3333,
    2px 1px #3333,
    2px 2px #3333
  ;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1rem !important;
  line-height: 1 !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
  overflow: initial !important;
}
yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller{
  overflow: hidden !important;
}
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer #header {
  padding: 16px 24px !important;
}
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer {
  width: fit-content !important;
}

yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  width: 32px !important;
  height: 32px !important;
  border: 2px solid #ccc6;
  border-radius: 50% !important;
  margin-right: 12px !important;
}

yt-live-chat-text-message-renderer #author-badges {
  vertical-align: text-top !important;
}

yt-live-chat-text-message-renderer #timestamp {
  display: inline !important;
  color: #ccc !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: .9rem !important;
  line-height: 1 !important;
}

yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: #fd0 !important;
}
yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #39c !important;
}
yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: #0c4 !important;
}
yt-live-chat-text-message-renderer #author-name {
  color: #ccc !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.6rem !important;
  line-height: 1 !important;
}

yt-live-chat-text-message-renderer #author-name::after {
  content: ":";
  margin-left: 4px;
}
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
  letter-spacing: normal !important;
}
yt-live-chat-text-message-renderer #message {
  display: block !important;
}

yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: #999 !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-paid-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
  margin: 0 !important;
  margin-top: 16px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

yt-live-chat-legacy-paid-message-renderer {
  background-color: #0c4 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}
yt-live-chat-text-message-renderer[is-deleted] ,
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
  display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: #fff !important;
  font-family: "Roboto", "BIZ UDGothic", sans-serif;
}

yt-live-chat-moderation-message-renderer,
yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer,
yt-live-chat-banner-manager {
  display: none !important;
}

@keyframes notification {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  2% {
    opacity: .5;
    transform: translate(0, 20px);
  }
  4% {
    opacity: 1;
    transform: translate(0, -10px);
  }
  5% {
    opacity: 1;
    transform: translate(0, 0);
  }
  95% { 
    opacity: 1;
    transform: translate(0, 0);
  }
  96% { 
    opacity: 1;
    transform: translate(10px, 0);
  }
  98% { 
    opacity: .5;
    transform: translate(-20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-30px, 0);
  }
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer,
yt-live-chat-paid-message-renderer {
  animation: notification 8s ease-in-out;
  animation-fill-mode: forwards;
}

yt-live-chat-action-panel-renderer, 
yt-live-chat-renderer #action-panel,
yt-reaction-control-panel-overlay,
yt-reaction-control-panel-overlay-view-model,
yt-reaction-control-panel-view-model,
yt-live-chat-viewer-engagement-message-renderer {
  display: none !important;
}